/*************************初始化*************************/
*{font-family:"Microsoft Yahei","Hiragino Sans GB","Helvetica Neue",Helvetica,tahoma,arial,Verdana,sans-serif,"WenQuanYi Micro Hei","\5B8B\4F53";-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing:grayscale; box-sizing: border-box; border:0; padding:0; margin:0;}
body{font-size:14px; color:#666; background:#f8f8f8;}
ul{ list-style:none;}
a{text-decoration:none;font-size:12px;}
a:link{ text-decoration:none;}
a:active{ text-decoration:none;}
var,em {font-style:normal;}
table{border-collapse:collapse;}
.left{ float:left}
.right{ float:right;}
.center{text-align: center;}
input{outline:none;}
button{outline:none; cursor:pointer;}
html,body {height:100%; }

h1,h2,h3,h4,h5,h6{font-weight:200;line-height:1.1;color:inherit;font-family: "微软雅黑";}
h1 small,h2 small,h3 small,h4 small,h5 small,h6 small,h1 .small,h2 .small,h3 .small,h4 .small,h5 .small,h6 .small{font-weight:normal;line-height:1;color:#999}
h1,h2,h3{margin-top:10px;margin-bottom:10px}
h1 small,h2 small,h3 small,h1 .small,h2 .small,h3 .small{font-size:65%}
h4,h5,h6{margin-top:10px;margin-bottom:10px}
h4 small,h5 small,h6 small,h4 .small,h5 .small,h6 .small{font-size:75%}
h1{font-size:36px}
h2{font-size:30px}
h3{font-size:24px}
h4{font-size:18px}
h5{font-size:16px}
h6{font-size:12px}
/*************************文字样式*************************/
small{font-size:85%}		/**小型文本**/
b,strong {font-weight: bold}	/**重要的文本，加粗**/
em{font-style:italic}		/**被强调的文本**/
i{}				/**斜体**/
u{}				/**加下划线**/
cite{font-style:normal}		/**引用**/
mark{color:#000;background:#ff0}/**突出显示文本**/
var{}				/**变量**/
kbd{}				/**键盘文本**/
code{}				/**计算机代码文本**/
dfn{font-style: italic;}	/**一个定义项目**/
del{font-family:Simsun}		/**删除线**/
code,kbd,pre,samp {font-family: monospace, serif;font-size: 1em}
pre{white-space: pre-wrap}	/**预格式化的文本**/
.uppercase{text-transform:uppercase} /**文字大写**/
.lowercase{text-transform:lowercase} /**文字小写**/
.capitalize{text-transform:capitalize} /**首字母大写***/

/*************************字体大小*************************/
.f-12{font-size:12px}
.f-14{font-size:14px}
.f-16{font-size:16px}
.f-18{font-size:18px}
.f-20{font-size:20px}
.f-24{font-size:24px}
.f-26{font-size:26px}
.f-28{font-size:28px}
.f-30{font-size:30px}

h3{margin:20px 0;}



/*************************边距*************************/
.mt-5{margin-top:5px}/**距上5像素**/
.mt-10{margin-top:10px}/**距上10像素**/
.mt-15{margin-top:15px}/**距上15像素**/
.mt-20{margin-top:20px}/**距上20像素**/
.mt-25{margin-top:25px}/**距上25像素**/
.mt-30{margin-top:30px}/**距上30像素**/
.mt-35{margin-top:35px}/**距上35像素**/
.mt-40{margin-top:40px}/**距上40像素**/
.mt-50{margin-top:50px}/**距上50像素**/
 
.mb-5{margin-bottom:5px}/**距下5像素**/
.mb-10{margin-bottom:10px}/**距下10像素**/
.mb-15{margin-bottom:15px}/**距下15像素**/
.mb-20{margin-bottom:20px}/**距下20像素**/
.mb-25{margin-bottom:25px}/**距下25像素**/
.mb-30{margin-bottom:30px}/**距下30像素**/
.mb-35{margin-bottom:35px}/**距下35像素**/
.mb-40{margin-bottom:40px}/**距下40像素**/
.mb-50{margin-bottom:50px}/**距下50像素**/
 
.ml-5{margin-left:5px}/**距左5像素**/
.ml-10{margin-left:10px}/**距左10像素**/
.ml-15{margin-left:15px}/**距左15像素**/
.ml-20{margin-left:20px}/**距左20像素**/
.ml-30{margin-left:30px}/**距左30像素**/
.ml-50{margin-left:50px}/**距左50像素**/
.ml-45{margin-left:45px}/**距右45像素**/
.mr-5{margin-right:5px}/**距右5像素**/
.mr-10{margin-right:10px}/**距右10像素**/
.mr-15{margin-right:15px}/**距右15像素**/
.mr-20{margin-right:20px}/**距右20像素**/
.mr-30{margin-right:30px}/**距右30像素**/
.mr-40{margin-right:40px}/**距右40像素**/

.mr-50{margin-right:50px}/**距右50像素**/

.mc-5{margin-right:5px}/**距离5像素**/
.mc-10{margin-right:10px}/**距离10像素**/
.mc-15{margin-right:15px}/**距离15像素**/
.mc-20{margin-right:20px}/**距离20像素**/
.mc-30{margin-right:30px}/**距离30像素**/
.mc-40{margin-right:40px}/**距离40像素**/
.mc-50{margin-right:50px}/**距离50像素**/

/*************************内填充*************************/
.pt-5{padding-top:5px}/**上填充5像素**/
.pt-10{padding-top:10px}/**上填充10像素**/
.pt-15{padding-top:15px}/**上填充15像素**/
.pt-20{padding-top:20px}/**上填充20像素**/
 
.pb-5{padding-bottom:5px}/**下填充5像素**/
.pb-10{padding-bottom:10px}/**下填充10像素**/
.pb-15{padding-bottom:15px}/**下填充15像素**/
.pb-20{padding-bottom:20px}/**下填充20像素**/
 
.pl-5{padding-left:5px}/**左填充5像素**/
.pl-10{padding-left:10px}/**左填充10像素**/
.pl-15{padding-left:15px}/**左填充15像素**/
.pl-20{padding-left:20px}/**左填充20像素**/
.pl-40{padding-left:40px}/**左填充20像素**/

.pr-5{padding-right:5px}/**右填充5像素**/
.pr-10{padding-right:10px}/**右填充10像素**/
.pr-15{padding-right:15px}/**右填充15像素**/
.pr-20{padding-right:20px}/**右填充20像素**/
.pr-25{padding-right:25px}/**右填充20像素**/
.pr-30{padding-right:30px}/**右填充20像素**/
 
.pd-5{padding:5px}/**填充5像素**/
.pd-10{padding:10px}/**填充10像素**/
.pd-15{padding:15px}/**填充15像素**/
.pd-20{padding:20px}/**填充20像素**/

.mr-0{margin-right:0px;}

/************************代码黏贴框架************************/
.pre {
	display: block;
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	padding: 9.5px;
	margin-bottom: 10px;
	font-size: 12px;
	line-height: 20px;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 4px;
	color: #333;background:#ccc;
}
.prettyprint {
	margin-bottom: 20px;
	padding: 8px;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8
}
.prettyprint .com {
	color: #998;
	font-style: italic
}
.prettyprint .tag {
	color: #007
}
.prettyprint .lit {
	color: #195f91
}
.prettyprint .pun, .prettyprint .opn, .prettyprint .clo {
	color: #93a1a1
}
.prettyprint .fun {
	color: #dc322f
}
.prettyprint .str, .prettyprint .atv {
	color: #D14
}
.prettyprint .kwd, .prettyprint .prettyprint .tag {
	color: #1e347b
}
.prettyprint .typ, .prettyprint .atn, .prettyprint .dec, .prettyprint .var {
	color: teal
}
.prettyprint .pln {
	color: #48484c
}
.prettyprint.linenums {
	box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0
}
.pre-scrollable {
	max-height: 340px;
	overflow-y: scroll
}
ol.linenums {
	list-style: decimal outside none;
	margin-left: 20px
}
ol.linenums li {
	line-height: 28px;
	padding-left: 10px
}
pre ol.linenums {
	margin: 0 0 0 33px
}
pre ol.linenums li {
	padding-left: 12px;
	color: #bbb;
	line-height: 18px;
	text-shadow: 0 1px 0 #fff
}
/************************代码黏贴 结束************************/
/************************注意btn************************/
.label-warning, .badge-warning {
	background-color: #f37b1d
}
.label, .badge {
	display: inline-block;
	padding: 2px 4px;
	font-size: 11.844px;
	line-height: 14px;
	color: #fff;
	white-space: nowrap;
	vertical-align: middle;
	background-color: #f37b1d;
	border-radius:4px;	
}
/************************注意btn************************/
.bj-color{background:#f5f5f5;border:1px solid #ddd;border-radius:5px;}
.bj-color p{line-height: 40px;}
.cenr-border{width:100%;border:1px solid #ddd;border-radius:5px;margin-top:10px; padding:10px;display:inline-block;}
/************************选项卡************************/
.taber{ }
.taber .head{ border-left: 1px solid #E5E5E5; height:30px; }
.taber .head a{ border: 1px solid #E5E5E5; float:left; display:inline; padding:0px 20px; border-left:none; height:30px; line-height:30px;color:#333 }
.taber .head a.selected{ border-bottom:none;color:#f00;}
.taber .body{ clear:both; padding:10px; }
/************************边框  圆角************************/
.bk-gray{width:800px;border:solid 1px #ddd}
.radius{border-radius:5px;}
/************************新闻详情************************/
.content{font-size:14px;line-height:25px;overflow:hidden;text-align:left}
.content h3{ margin-top:20px;font-size:16px}
.content p{text-indent:2em;margin-top:20px}
.content ul{text-indent:2em}
/************************对齐************************/
.text-l{text-align:left}/**水平居左*/
.text-r{text-align:right}/*水平居中*/
.text-c{text-align:center}/*水平居右*/

/************************列表************************/
.top-list li{height: 20px;line-height: 20px;margin-bottom: 15px;overflow: hidden;padding-left: 30px;position: relative;text-overflow: ellipsis;vertical-align: bottom;white-space: nowrap;}
.top-list em {background-color: #F8F8F8;border: 1px solid #EBEBEB;color: #333;height: 18px;left: 0;line-height: 18px;position: absolute;text-align: center;top: 0;width: 20px; font-style:normal}
.top-list .top em{ background-color:#390;border:none;color: #fff;height: 20px;line-height: 20px;width: 22px}
.top-list .date {color: #999;font-size: 12px;position: absolute;right: 0;top: 0;}

/************************表格************************/
.table{width:100%;float:left;empty-cells:show;background-color:transparent;border-collapse:collapse;border-spacing:0}
.table tr td{text-align:center;font-weight:400}
.table tr th{text-align:center;}
/**带水平线**/
.table th{font-weight:bold}
.table th,.table td{height:35px;line-height:20px;font-size:12px;}
.table td{text-align:left}
.table tbody tr.success > td{background-color:#dff0d8}
.table tbody tr.error > td{background-color:#f2dede}
.table tbody tr.warning > td{background-color:#fcf8e3}
.table tbody tr.info > td{background-color:#d9edf7}
.table tbody + tbody{border-top:1px solid #ddd}
.table .table{background-color:#fff}
.table a{color:#333;margin-right:6px;}
.table a:hover{color:#1295f2;}
/**带横向分割线**/
.table-border{border-top:1px solid #ddd}
.table-border th,.table-border td{border-bottom:1px solid #ddd}
 
/**th带背景**/
.table-bg .bj{background-color:#eee;height:40px;}
.table-bg .bj:hover{background-color:#eee}
.table-bg thead th{background-color:#F5FAFE}
/**带外边框**/
.table-bordered{border:1px solid #ddd;border-left:0}
.table-bordered th,.table-bordered td{border-left:1px solid #ddd}
.table-border.table-bordered{border-bottom:0}
 
/**奇数行背景设为浅灰色**/
.table-striped tbody > tr:nth-child(odd) > td,.table-striped tbody > tr:nth-child(odd) > th{background-color:#f9f9f9}
/**竖直方向padding缩减一半**/
.table-condensed th,.table-condensed td{padding:4px 5px}
/**鼠标悬停样式**/
.table-hover tbody tr:hover td,.table-hover tbody tr:hover th{background-color: #f5f5f5}

 
/**表格文字对齐方式，默认是居左对齐**/
.table .text-c th,.table .text-c td{text-align:center}/**整行居中**/
.table .text-r th,.table .text-r td{text-align:right}/**整行居右**/
.table th.text-l,.table td.text-l{text-align:left!important}/**单独列居左**/
.table th.text-c,.table td.text-c{text-align:center!important}/**单独列居中**/
.table th.text-r,.table td.text-r{text-align:right!important}/**单独列居右**/

/************************按钮************************/
.btn{cursor:pointer;text-align:center;outline:none;}
/*默认——灰色 通常用于取消*/
.biu-btn{display:inline-block;cursor:pointer;text-align:center; font-weight:400;white-space:nowrap; outline:none;}
/*颜色 蓝色*/
.btn-blue{color:#fff;background-color:#2989e2;}
.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue.active{color:#fff;background-color:#3693ed;}
/*颜色 绿色*/
.btn-green{color:#fff;background-color:#43cd6e;}
.btn-green:hover,
.btn-green:focus,
.btn-green:active,
.btn-green.active{color:#fff;background-color:#49de79;}
/*颜色 绿色*/
.btn-yellow{color:#fff;background-color:#fac603;}
.btn-yellow:hover,
.btn-yellow:focus,
.btn-yellow:active,
.btn-yellow.active{color:#fff;background-color:#fad049;}
/*颜色 红色*/
.btn-red{color:#fff;background-color:#ea4a36;}
.btn-red:hover,
.btn-red:focus,
.btn-red:active,
.btn-red.active{color:#fff;background-color:#ed6a5a;}
/*禁用状态*/
.btn.disabled{cursor:not-allowed;background-image:none;opacity:.65;filter:alpha(opacity=65);box-shadow:none; pointer-events:none;}
/**空心按钮**/
.btn-primary-hollow{border:1px solid #c7c7c7;background: #fff;}
.btn-primary-hollow:hover,
.btn-primary-hollow:focus,
.btn-primary-hollow:active,
.btn-primary-hollow.active{color:#333;border-color:#c7c7c7}
/**边框按钮默认**/
.border-default{border:1px solid #c7c7c7;background:#fff;}
.border-default:hover{background:#c7c7c7;}
/**边框按钮蓝色**/
.border-blue{border:1px solid #4cb9fc;background:#fff;}
.border-blue:hover{background:#4cb9fc;color:#fff;}
/**边框按钮绿色**/
.border-green{border:1px solid #43cd6e;background:#fff;}
.border-green:hover{background:#43cd6e;color:#fff;}
/**边框按钮黄色**/
.border-yellow{border:1px solid #fad049;background:#fff;}
.border-yellow:hover{background:#fad049;color:#fff;}
/**边框按钮红色**/
.border-red{border:1px solid #ed6a5a;background:#fff;}
.border-red:hover{background:#ed6a5a;color:#fff;}
/**库存按钮**/
.stock-btn{padding:0 10px;min-width:100px;height:30px; border:1px solid #10a2fb; color:#fff; line-height:30px;outline:none;font-size:14px;}
/**按钮尺寸大小**/
.btn-mini{width:60px;height:32px;}
.btn-small{width:80px;height:32px;}
.btn-medium{width:100px;height:32px;}
.btn-large{width:120px;height:32px;}
.btn-xlarge{width:140px;height:32px;}
.btn-xxlarge{width:160px;height:32px;}
.btn-car{width:88px;height:32px;}
.btn-login{width:320px;height:40px;border-radius:20px;font-size:16px}
/**按钮自适应大小**/
.btn-auto{padding:0 14px;height:32px;}


/************************表单************************/
.int-text{border:1px solid #e4e4e4;background:#fff; outline:none;resize:none;}
.int-text:hover{border:1px solid #2989e2;}
.int-mini{width:102px;height:32px;padding-left:4px;}
.int-small{width:140px;height:32px;padding-left:4px;}
.int-medium{width:180px;height:32px;padding-left:4px;}
.int-large{width:260px;height:32px;padding-left:4px;}
.int-xlarge{width:450px;height:48px;padding-left:4px;font-size:16px;color:#999;line-height:48px;}
.int-xxlarge{width:500px;height:32px;padding-left:4px;}
.int-xxxlarge{width:700px;height:32px;padding-left:4px;}
.textarea-xlarge{width:350px;height:80px;padding-left:4px;}
.int-method{width:240px;height:32px;padding:0 10px;background:#3c86dd;border:1px solid #3faef4;color:#fff}
.int-method:hover{background:#a5d6fc;border:1px solid #a5d6fc}
.int-login{width:320px;height:40px;padding:0 10px;background:#fff;border:1px solid #d7d7d7;color:#666}
.int-login-yzm{width:200px;height:40px;padding:0 10px;background:#fff;border:1px solid #d7d7d7;color:#666}
/**禁用**/
.input-disabled{cursor:not-allowed;background:#eee;}
.input-disabled:hover{border:1px solid #c7c7c7;}

/************************checkbox************************/
.skin-minimal .checkbox-1,.checkbox-2,.checkbox-disabled,.checkbox-disabled-checked{width:14px;height:14px;}
.checkbox-disabled,.checkbox-disabled-checked{cursor:not-allowed;}
/************************select************************/
.select{border:1px solid #e4e4e4;background:#fff; outline:none;}
.select:hover{border:1px solid #ccc;}
.select-mini{width:102px;height:32px;padding-left:4px;}
.select-small{width:140px;height:32px;padding-left:4px;}
.select-medium{width:180px;height:32px;padding-left:4px;}
.select-large{width:260px;height:32px;padding-left:4px;}
.select-xlarge{width:260px;height:32px;padding-left:4px;}
.select-xxlarge{width:350px;height:32px;padding-left:4px;}
.select-xxxlarge{width:500px;height:32px;padding-left:4px;}

/**上传按钮**/
.btn-upload{width:auto;position: relative; display:inline-block;height:36px; *display:inline;overflow:hidden;vertical-align:middle;cursor:pointer}
.btn-upload .int-file{width:370px;position:absolute;left:0;top:0;height:36px;opacity:0;filter: alpha(opacity=0);z-index: 999;font-size: 200px;}
.btn-upload .int-file1{width:120px;position:absolute;left:90px;top:0;height:36px;opacity:0;filter: alpha(opacity=0);z-index: 999;font-size: 200px;}
/************************进度条************************/
.biu-progress{max-width:500px;background-color:#eee;border-radius:4px;}
.bar-text{width:100%;height:100%;border-radius:4px;text-align:right;padding-right:4px;font-size:12px;color:#fff;}
.progress-small{height:18px;line-height:18px;}
.progress-medium{height:22px;line-height:22px;}
.progress-large{height:26px;line-height:26px;}
.progress-xlarge{height:30px;line-height:30px;}
.biu-progress .green{background-color:#58b957;}
.biu-progress .blue{background-color:#28a3ef;}
.biu-progress .yellow{background-color:#fac603;}
.biu-progress .red{background-color:#ea4a36;}
.striped{background-image:linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);background-size:40px 40px;}
.active{animation:progress-bar-stripes 2s linear infinite;}

/************************分页************************/
.biu-paging{margin:10px;}
.biu-paging ul{display:inline-block;vertical-align:middle;}
.biu-paging ul li{display:inline;}
.biu-paging ul li a{width:18px; height:18px;border:1px solid #ccc; float:left;margin-left:6px;text-align:center;color:#555;font-size:12px;}
.biu-paging ul li a:hover{ background:#06a7e1; color:#fff;border:1px solid #06a7e1;}
.biu-paging ul .active a{background:#06a7e1; color:#fff;border:1px solid #06a7e1;}
/**分页 小**/
.paging-small ul li a{width:22px; height:22px;line-height:22px;}
/**分页 中**/
.paging-medium ul li a{width:26px; height:26px;line-height:26px;font-size:14px;}
/**分页 大**/
.paging-large ul li{line-height:30px;}
.paging-large ul li a{width:30px;height:30px;line-height:30px;font-size:14px;}

.biu-paging ul .prev-up a{width:55px;}
.biu-paging ul .next-down a{width:55px;}
.biu-paging ul li span{ float:left; margin-left:5px;}
.int-verysmall{ width:40px; height:30px;text-align:center;border:1px solid #ccc;}
.int-verysmall:hover{ border:1px solid #3eabff;}
.biu-paging ul li span .but-determine{ width:40px; height:30px; background:#06a7e1; border:1px solid #06a7e1; color:#fff; margin-left:0px; cursor:pointer}
.biu-paging ul li .btn-span{margin-left:0px;}
/**没边框**/
.paging-xlarge ul li a{width:34px;height:34px;line-height:34px;font-size:16px;}
.paging-noneborder ul li a{border:none;}
.paging-noneborder ul li a:hover{border:none;background:none;color:#06a7e1;}
.paging-noneborder ul .active a{border:none;background:none;color:#06a7e1;}





